<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pannel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
     <!-- <meta name="theme-color" content="#712cf9"> -->
  
    <!-- Custom styles for this template -->
    <link href="css\style_a.css" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>
  <body style="background-image: url('/images/home.jpg'); background-size:cover">
<div class="action_btn">
  
     <div class="action" style="background-color:#E5BEEC;">
        <h3>CREATE CANDIDATE</h3>
        <a href="/create_canditate">➡️</a>
    </div>

    <div class="action">
        <h3>CREATE EVENT</h3>
        <a href="/create_event">➡️</a>
    </div>

    <div class="action">
        <h3>RESULT</h3>
        <a href="/result">➡️</a>
    </div>

    <div class="action" style="background-color:#E5BEEC;">
        <h3>DELETE DATA</h3>
        <a href="/update_data">➡️</a>
    </div>

</div>

  </body>
</html>
