<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pannel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
     <meta name="theme-color" content="#712cf9">
  
    <!-- Custom styles for this template -->
    <link href="css\style_a.css" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>
  <body class="text-center" style="background-image: url('/images/home.jpg'); background-size:cover">
<nav style="margin-top: 0px; width: 100%; height: 5vh;">
  <a href="/" style="text-decoration: none; position: right; padding: 2vw; color:black;">🏠Home</a>
</nav>
<main class="form-signin m-auto" style="padding: 1% 10% 1% 10%;">
    <form action="/event" method="post" class="form_contact">
    <img class="mb-4" src="images\logo.png" alt="" width="92" height="87">
    <h1 class="h3 mb-3 fw-normal">Login As Admin</h1>

    <input type="text" class="form-control top" placeholder="Name in Camel Case" name="name" id = "Name"  alt="">
    <input type="email" class="form-control middle" placeholder="name@example.com" name="email" id="email" required>
    <button class="form-control bottom" type="submit" id="submit">GO</button>
    <p class="mt-5 mb-3 text-muted" style="margin-top: 5%;">&copy; 2023</p>
  </form>
  <!-- <form action="/result" method="post">
    <button class="form-control bottom" type="submit" id="submit" style="margin: 5% 0 0 0;" >RESULT</button>
  </form> -->
</main>
  </body>
</html>
