<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Pannel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
     <meta name="theme-color" content="#712cf9">
  
    <!-- Custom styles for this template -->
    <link href="public/css/style_a.css" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-image: url('/images/home.jpg'); background-size:cover">
    
    <% if(user) {%>
        <form action="/event" method="post">
            <button class="w-90 btn btn-lg btn-primary" class="form-control bottom" type="submit" id="submit" style="margin: 5% 0 0 0;">CREATE NEW EVENT</button>
        </form>
        <form action="">
            <button class="w-90 btn btn-lg btn-primary" class="form-control bottom" type="submit" id="submit" style="margin: 5% 0 0 0;">EXISTING EVENT</button>
        </form>
<% } else { %>
    <form action="/result" method="post">
        <button class="w-90 btn btn-lg btn-primary" class="form-control bottom" type="submit" id="submit" style="margin: 5% 0 0 0;">RESULT</button>
    </form>
<% } %>
</body>
</html>