<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pannel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
     <meta name="theme-color" content="#712cf9">
  
    <!-- Custom styles for this template -->
    <link href="css\style_a.css" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>
  <body class="text-center" style="background-image: url('/images/home.jpg'); background-size:cover">

<main class="form-signin m-auto">
    <form action="/candidateList" method="post" class="form_contact">
    <img class="mb-4" src="images\logo.png" alt="" width="92" height="87">
    <h1>Create Candidate List</h1>
    <input type="text" class="form-control top" name="candidateName" id="CandidateName" placeholder="Candidate Name">
    <input type="text" class="form-control middle" name="partyName" id="PartyName" placeholder="Party Name">
    <!-- <input type="image" class="form-control middle" name="Symbol" id="symbol" placeholder="Symbol"> -->
    <span class="form-control middle" style="display: flex;">
        <label for="symbol">Choose Symbol:   </label>
        <input type="file" name="symbol" id="symbol" placeholder="Symbol" value="Symbol" style="position: relative; left: 6vw;">
    </span>
    <!-- <input type="datetime-local" class="form-control top" name="start" placeholder="Start Event" id="START"> -->
    <!-- <input type="datetime-local" class="form-control middle" name="end" placeholder="End Event" id="END"> -->
    <button class="form-control bottom" type="submit" id="submit">CREATE</button>
    <p class="mt-5 mb-3 text-muted" style="margin-top: 5%; text-decoration:none;">&copy; 2023</p>
  </form>
</main>

  </body>
</html>
