<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
     <!-- Custom styles for this template -->
    <link href="css\style_a.css" rel="stylesheet">
</head>
<body style="background-image: url('/images/home.jpg'); background-size:cover">
    <div class="action_btn">
        <div class="action" style="background-color:#FFABAB;">
            <h3>Delete User Data</h3>
            <a href="/deleteUser">➡️</a>
        </div>
        <div class="action" style="background-color:#FCC8D1">
            <h3>Delete Canditate Data</h3>
            <a href="/deleteCanditate">➡️</a>
        </div>
        <div class="action" style="background-color:#E8A0BF">
            <h3>Delete Event Data</h3>
            <a href="/deleteEvent">➡️</a>
        </div>
    </div>
</body>
</html>